# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# --- ASSETS MANAGEMENT ---
# Abaikan file video asli yang besar (tanpa akhiran _1)
/src/assets/*.mp4
# TAPI izinkan video preview 10 detik (akhiran _1)
!/src/assets/*_1.mp4

# Izinkan semua gambar profil dan sertifikat
!/src/assets/*.jpg
!/src/assets/*.png
!/src/assets/*.jpeg

# Abaikan PDF asli jika masih ada agar tidak berat
/src/assets/*.pdf